.card {
  display: flex;
  border: 1px solid gray;
  border-radius: 4px;
}

.authorImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 200px;

}
.authorText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.author {
  display: grid;
  flex-flow: column-reverse;
}
.title {
  font-size: 24px;
}
.description {
  font-size: 18px;
}
.wrap{
  display: grid;
  grid-gap: 20px;
}
.articles {
  display: grid;
  grid-gap: 20px;
}
.missedArticles {
  display: grid;
  grid-gap: 20px;
}


@media only screen and (min-width: 600px) {
  .articles {
    grid-template-columns: repeat(2, 1fr); 
  }
  .missedArticles {
    grid-template-columns: repeat(3, 1fr); 
  }
}


